html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  font-weight: normal;
  vertical-align: baseline; }

* {
  font-weight: normal !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: black;
  font-family: 'Arimo', sans-serif; }

#wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  background-color: white; }

.clearfix:after, .row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  width: 100%;
  margin: 1em auto; }

.column {
  float: left;
  padding: 1em;
  background-color: #B08F4C;
  margin-right: 1%; }

.grid-1 {
  width: 7.41667%; }

.grid-2 {
  width: 15.83333%; }

.grid-3 {
  width: 24.25%; }

.grid-4 {
  width: 32.66667%; }

.grid-5 {
  width: 41.08333%; }

.grid-6 {
  width: 49.5%; }

.grid-7 {
  width: 57.91667%; }

.grid-8 {
  width: 66.33333%; }

.grid-9 {
  width: 74.75%; }

.grid-10 {
  width: 83.16667%; }

.grid-11 {
  width: 91.58333%; }

.grid-12 {
  width: 100%; }

.last {
  margin-right: 0; }

.slideshow .slide {
  width: 100%;
  display: none; }

.controls {
  margin: 5px 0;
  cursor: pointer; }
  .controls .thumbnail {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    background-color: black; }
