html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  font-weight: normal;
  vertical-align: baseline; }

* {
  font-weight: normal !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: black; }

#wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  background-color: white; }

.clearfix:after, .row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  width: 100%;
  margin: 1em auto; }

.column {
  float: left;
  padding: 1em 0;
  background-color: gray; }

.grid-1 {
  width: 7.41667%;
  margin-right: 1%; }

.grid-2 {
  width: 15.83333%;
  margin-right: 1%; }

.grid-3 {
  width: 24.25%;
  margin-right: 1%; }

.grid-4 {
  width: 32.66667%;
  margin-right: 1%; }

.grid-5 {
  width: 41.08333%;
  margin-right: 1%; }

.grid-6 {
  width: 49.5%;
  margin-right: 1%; }

.grid-7 {
  width: 57.91667%;
  margin-right: 1%; }

.grid-8 {
  width: 66.33333%;
  margin-right: 1%; }

.grid-9 {
  width: 74.75%;
  margin-right: 1%; }

.grid-10 {
  width: 83.16667%;
  margin-right: 1%; }

.grid-11 {
  width: 91.58333%;
  margin-right: 1%; }

.grid-12 {
  width: 100%;
  margin-right: 1%; }

.last {
  margin-right: 0; }
